.main {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
  flex-direction: column;

  .top {
    display: flex;
    .btn {
      button {
        padding: 0.5rem;
      }
    }
  }

  .cards {
   display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}